.dialogs{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}
.dialog_items{

}
.dialog{

}
.dialog a{
    color: black;
    text-decoration: none;
}
.messages{

}
.message{

}
.dialog .active{
    color: gold ;
}