.dialogs{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}


.dialog a{
    color: black;
    text-decoration: none;
}

.dialog .active{
    color: gold ;
}
.messages{
    color:green
}