.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header img {
    left: 0;
}

.login {
    margin-right: 20px;
    font-size: 20px;

}
.login a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.login a:hover{
    color: white;
}

