
html, body {
    height: 100%;
}

.App-wrapper {
    height: 100%;
    display: grid;
    margin: 10px 150px;
    color: black;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
     "header header"
     "sidebar main"
     "sidebar footer";

}

.grid-elem {
    background-color: lightblue;

}

img {
    height: 100%;

}

.app-wrapper-main {
    grid-area: main;

}







