.post {
    display: flex;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-top: 10px;
    max-height: 250px;
}

.post img {
    border-radius: 100%;
    height: 85px;
    width: 85px;
    align-self: center;
    margin-left: 7px;

}

.post_text {
    align-self: center;
    margin-left: 20px;
}